ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 32px;
}

.links {
    justify-content: space-evenly;
    padding: 1.5rem 1.5em;
    float: right;
}

.logo {
    justify-content: space-evenly;
    margin: 0 5rem;
    float: left;
}
.logo h1 {
    font-family: cursive;
}

.navbar a {
    padding: 8px 16px;
}

.link {
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    text-decoration: none;
}

.link:hover{
    color: #1ae5f7 !important;
}

.link:visited{
    color:black;
}

