h4 {
    text-align: left;
    margin-left: 40px;
}

hr {
    border-top: 2px dotted #3f51b5;
}

/* For pdf */
.resume {
    width: 100% !important;
    height: auto;
}
.react-pdf__Page {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.react-pdf__Page__canvas {
    border: 1px solid darkgrey;
    box-shadow: 5px 5px 5px 1px #ccc;
    border-radius: 5px;
    width: 80% !important;
    height: 100% !important;
}


.react-pdf__Page__textContent{
    display: none;
    height: 0 !important;
    width: 0 !important;
}

.react-pdf__Page__annotations {
    display: none;
    height: 0 !important;
    width: 0 !important;
}
